node_modules
dist
build
.cache
.next
.turbo
.env
.env.local
*.log
.DS_Store
apps/cms/.tmp
apps/cms/build
apps/cms/dist
apps/cms/.cache
apps/cms/public/uploads
apps/cms/node_modules

apps/api/dist
apps/api/node_modules


apps/web/dist
apps/web/node_modules

