HOST=0.0.0.0
PORT=1337
APP_KEYS=key1_replace_me,key2_replace_me,key3_replace_me,key4_replace_me
API_TOKEN_SALT=replace_with_random_string
ADMIN_JWT_SECRET=replace_with_random_string
TRANSFER_TOKEN_SALT=replace_with_random_string
JWT_SECRET=replace_with_random_string

DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=noor_cms
DATABASE_USERNAME=noor
DATABASE_PASSWORD=change_me_in_production
DATABASE_SSL=false
